# Docker Registry
REGISTRY_DOMAIN=registry.yourdomain.com
REGISTRY_UI_DOMAIN=registry-ui.yourdomain.com
REGISTRY_TITLE=My Docker Registry

# Host path to htpasswd file (generate: htpasswd -Bbn admin YOUR_PASSWORD > auth/htpasswd)
REGISTRY_AUTH_PATH=./auth
