# NetBox
NETBOX_DOMAIN=ipam.yourdomain.com

# Database
POSTGRES_USER=netbox
POSTGRES_PASSWORD=ChangeMeNow!

# Django secret key — generate: openssl rand -hex 64
NETBOX_SECRET_KEY=change_me_secret_key_now

# Redis
REDIS_PASSWORD=ChangeMeNow!
